@{
    ViewData["Title"] = "Home Page";
}

<nav>
    <div class="nav-wrapper  blue-grey darken-4">
        <a href="#!" class="brand-logo"><i class="material-icons">cloud</i>web app</a>
        <ul class="right hide-on-med-and-down">
            <li>@Html.ActionLink("Registrate", "registro", "Home")</li>
        </ul>
    </div>
</nav>

<div class="row center-align">
    <h1>Un mundo fuera de las actividades cotidianas!!!</h1>
</div>
<div class="row center-align">
    <div class="col  s3 m3 card-panel hoverable valign-wrapper">
        <div class="row">
            <div class="col s12 m12">
                <div class="card">
                    <div class="card-image">
                        <img height="380" src="https://media.istockphoto.com/photos/himalayan-trekking-picture-id532189860?k=6&m=532189860&s=612x612&w=0&h=1zrv9rwKEQTyISpJkPreml8j6I8IRsRpKsUAvP5vnck=">
                        <span class="card-title span-title">Senderismo</span>
                    </div>
                    <div class="card-content">
                        <p>
                            I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="#">This is a link</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col s1 m1"></div>
    <div class="col s3 m3 card-panel hoverable valign-wrapper">
        <div class="row">
            <div class="col s12 m12">
                <div class="card">
                    <div class="card-image">
                        <img height="380" src="https://media.istockphoto.com/photos/rock-climber-clinging-to-a-cliff-picture-id527531592?k=6&m=527531592&s=612x612&w=0&h=Z5RN7nqPvEJAByfTii1b3vHr29z_yGj-BBb72AsrSDE=">
                        <span class="card-title span-title">Escalada en roca</span>
                    </div>
                    <div class="card-content">
                        <p>
                            I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="#">This is a link</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col s1 m1"></div>
    <div class="col s3 m3 card-panel hoverable valign-wrapper">
        <div class="row">
            <div class="col s12 m12">
                <div class="card">
                    <div class="card-image">
                        <img height="380" src="https://media.istockphoto.com/photos/solo-session-at-the-climbing-centre-picture-id877371188?k=6&m=877371188&s=612x612&w=0&h=5DxHeabeKjPNh_-v-sH_Hq3EyOTZJmDaCObGrfteRqM=">
                        <span class="card-title span-title">Escalada en muro</span>
                    </div>
                    <div class="card-content">
                        <p>
                            I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="#">This is a link</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row center-align">
    <div class="col  s3 m3 card-panel hoverable valign-wrapper">
        <div class="row">
            <div class="col s12 m12">
                <div class="card">
                    <div class="card-image">
                        <img height="380" src="https://media.istockphoto.com/photos/himalayan-trekking-picture-id532189860?k=6&m=532189860&s=612x612&w=0&h=1zrv9rwKEQTyISpJkPreml8j6I8IRsRpKsUAvP5vnck=">
                        <span class="card-title span-title">Olimpiadas</span>
                    </div>
                    <div class="card-content">
                        <p>
                            I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.
                        </p>
                    </div>
                    <div class="card-action">
                        @Html.ActionLink("olimpiadas", "olimpiadas", "Home")
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col s1 m1"></div>
</div>
